/Carp/nbproject/private/
/Carp/build/
/Carp/dist/
/Coral/nbproject/private/
/Coral/Coral-war/nbproject/private/
/Coral/Coral-ejb/nbproject/private/
/Coral/Coral-war/build/
/Coral/Coral-ejb/build/
/Coral/Coral-ejb/dist/
/Coral/build/
/Coral/Coral-war/dist/
/Coral/dist/
/Fish/nbproject/private/
/Fish/dist/
/Fish/build/
/School/nbproject/private/
/School/build/
/School/dist/
/Reef/nbproject/private/
/Reef/Reef-war/nbproject/private/
/Reef/Reef-ejb/nbproject/private/